<?xml version="1.0"?>
<model>
  <name>Standard VTOL</name>
  <version>1.0</version>
  <sdf version='1.4'>odonata.sdf</sdf>

  <author>
   <name>Timo Muller</name>
   <email>timo@seagull.ch</email>
  </author>

  <description>
    This is a model of a ominidirectional multirotor that can tilt for +- 90 degrees.
  </description>
</model>
